<div class="row justify-content-md-center">
    <div class="col-md-6 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <a [routerLink]="['nogomet']">
                <img src="../assets/ucl.jpg" class="card-img-top" height="290">
            </a>
            <div class="card-body text-center">
                <a [routerLink]="['nogomet']">
                    <h5 class="card-title">Nogomet</h5>
                </a>  
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <a [routerLink]="['nfl']">
                <img src="../assets/nfl.png" class="card-img-top" height="290">
            </a>
            <div class="card-body text-center">
                <a [routerLink]="['nfl']">
                    <h5 class="card-title">NFL</h5>
                </a>  
            </div>
        </div>  
    </div>
</div>
